---
layout: "default"
---
{% assign firstprojects = 6 %}
{% assign firstjobs = 5 %}
<div class="container">
  {% assign sidebar = site.data.sidebar.onepage %}
  {% include sidebar.html %}
  <div class="main">
    {% for section in site.data.resume %}
      {% if section[0] != 'Projects' %}
        {% assign sectionname = section[0] %}
        {% assign sectioncontent = section[1] | slice: 0, firstjobs %}
        {% include section.html %}
      {% endif %}
    {% endfor %}
    <div class="item">
      <div class="item-header">
        <h4><a href="http://thume.ca/resume">Developer Internships During High School</a></h4>
      </div>
      <div class="item-body">
        <p>1 month at Shopify in 2014, 2 months at Shopify in 2013, 2 months at The Eclipse Foundation in 2012, 3 weeks at Halogen in 2012.</p>
      </div>
    </div>
  </div>
</div>
<div class="container right-image-item">
  <div class="main last-no-padding">
    <h2 style="margin: 0px;">Selected Projects</h2>
    {% assign imagewidth = 80 %}
    {% assign sectioncontent = site.data.resume['Projects'] | slice: 0, firstprojects %}
    {% include plainsection.html %}
  </div>
  <div class="right-image">
    <img src="images/fullsize/raytracer.jpg" width="107" /><br>
    <!-- <img src="images/fullsize/openturing.png" width="107" /><br> -->
    <img src="images/fullsize/polytype.jpg" width="107" /><br>
    <!-- <img src="images/fullsize/indexview.png" width="107" /><br> -->
    <img src="images/fullsize/smartgaze.png" width="107" /><br>
    <img src="images/fullsize/stashline.png" width="107" /><br>
  </div>
</div>
