---
layout: "default"
---
<div class="container">
  {% assign sidebar = site.data.sidebar.onepage %}
  {% include sidebar.html %}
  <div class="main">
    {% for section in site.data.resume %}
      {% if section[0] != 'Projects' %}
        {% include section.html %}
      {% endif %}
    {% endfor %}
    <h2>Projects</h2>
    <div class="item right-image-item">
      <div class="item-body">
        {{ site.data.misc.projblurb | markdownify }}
      </div>
      <div class="right-image">
        {% assign projects = site.data.resume["Projects"] | slice: 0, 8 %}
        {% for item in projects %}
          <a href="{{ item.link }}"><img src="images/fullsize/{{ item.image }}" width="60" /></a>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
