---
---

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  // line-height: 1.2;
}
abbr {
  cursor: help;
}

.hidden {
  display: none;
}

.links {
  font-size: 18px;
  .fa {
    width: 30px;
  }
}

.item {
  margin-bottom: 17px;
  position: relative;
}

.item-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.item-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.item-info {
  text-align: right;
  // font-family: 'PT Sans', sans-serif;
}

.side-image {
  position: absolute;
  width: 100px;
  left: -120px;
  // top: 5px;
}

.side-image a {
  float: right;
}

.image-pop {
  z-index: 1;
  position: relative;
  transition: all .2s ease-in-out;
}

.image-pop:hover {
  z-index: 2;
  transform: scale(4.0) translateX(30%);
}

.right-image-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-image {
  padding-left: 5px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.sidebar div:first-child h2 {
  margin-top: 10px;
}
.sidebar div h2 {
  margin-top: 3px;
  margin-bottom: 0px;
}
.sidebar p {
  padding-top: 0px;
  padding-bottom: 10px;
}
.sidebar h5 {
  font-family: "PT Sans Caption", sans-serif;
  // font-weight: bold;
  color: #888;
  margin-top: 0px;
}

#bg ul#contact li:after {
  content: "\2022";
  margin: 0 12px;
}

#bg ul#contact li:last-child:after {
  content: "";
}



#bg ul#contact a {
  color:#FFF;
}

#buttons {
  position:absolute;
  top:0;
  right:0;
  margin: 10px;
}

#buttons a {
  display:inline-block;
  background-color:#F3F3F3;
  font-size:12px;
  color:#000;
  padding:6px;
  border-radius:4px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  text-decoration:none;
}

#buttons a:hover {
  background-color:#DDD;
}

.container {
  padding:5px 10px;
  margin: 0 auto;
  width:800px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.header {
  margin-top: 15px;
  align-items: flex-end;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.sidebar {
  box-sizing: border-box;
  width:36%;
  padding-left:20px;
  margin-top: 0px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
ul {
  margin:0px 0px;
  list-style-position: outside;
  margin-left:8px;
  padding-left:8px;
  font-weight: normal;
}
li {
  margin-left:8px;
  margin-top:5px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size:44px;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 0px 0 5px 0;
}
h1 a {
  text-decoration:none;
  color: black;
}
h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size:25px;
  margin: 10px 0 5px 0;
}
h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size:20px;
  margin: 14px 0 0 0;
}
h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 15px;
  line-height:18px;
  margin: 25px 0 0 0;
  font-weight: normal;
}
h4#references {
  font-family: 'PT Sans Caption', sans-serif;
  font-size:20px;
  font-weight:normal;
}
h5 {
  font-weight:normal;
  font-size:15px;
  margin-top:2px;
  margin-bottom:-2px;
}
#bg h5 {
  font-style:normal;
  font-size: 14px;
  margin-bottom: 0px;
  font-family: 'PT Sans Caption', sans-serif;
}
p {
  padding: 0px 0;
  margin:0 0 0px 0;
}
a {
  color:#53AFC4;
  -ms-word-break: break-all;

  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;

  // text-decoration: none;
  // border-bottom: 1px dotted #999;
}

a:hover {
  // border-bottom-style: solid;
}

h3 a {
  text-decoration: none;
  // border-bottom: 1px dotted #999;
}

h3 a:hover {
  text-decoration: underline;
}

#contact a {
  font-weight: normal;
}
.clear {
  clear:both;
}
.third {
  display:inline-block;
  vertical-align:top;
  width:28%;
  margin-right:4%;
  margin-bottom:10px;
}
.half {
  display:inline-block;
  vertical-align:top;
  float:right;
  width:40%;
  margin-left:5%;
}
.half + .half {
  margin:0;
  float:none;
  width:55%;
}

@media all and (max-width: 1100px) {
  .side-image {
    display: none;
  }
}

@media all and (max-width: 880px) {
  .container {
    width:auto;
    margin: 5px auto;
  }
}

@media screen and (max-width: 880px) {
  h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    display:block;
  }
  .sidebar {
    width:auto;
    padding-left:0;
  }
}

@page {
  margin: 15mm 0;
}

@page:first {
  margin-top:0;
}


@media print {
  .side-image, .more-link {
    display: none;
  }
  * {
    position:relative;
  }
  body {
    margin: 0;
    font-size: 9pt;
    // line-height: 1.2;
  }
  #buttons {
    display:none;
  }
  h1 {
    font-size:38px;
    margin: 0;
  }
  .item {
    page-break-inside: avoid;
    margin-bottom: 5px;
  }
  .item-header h3 {
    margin-bottom: -10px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
    line-height:16px;
  }
  a {
    font-weight:inherit;
    // color:#000 !important;
    text-decoration: none;
  }

  h3 a {
    color: #53AFC4 !important;
  }

  .container {
    width:auto;
  }

  .header {
    margin-top: 0px;
  }

  .last-no-padding .item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .print .container {
    padding: 5px 10mm;
    margin: 0 auto;
  }
  .print #bg {
    background-image: none;
    padding-top:0;
  }
  .print h1 {
    border-bottom:2px solid #000;
    margin-top:10mm;
    margin-bottom:4mm;
  }
  .print #bg h5 {
    color:#000;
    margin: -5px 0 -2px 0;
  }
}
