---
---
<html>
  <head>
    <title>
      Tristan Hume - Resume
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css?1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|Open+Sans:700,300italic,300' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption|Open+Sans:300,300italic,700' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption|Open+Sans:700,400,400italic' rel='stylesheet' type='text/css'> -->
  </head>

  <!-- Remove class="print" to get a colour pdf -->
  <body class="print">
    <div id="bg">
<!--       <div id = "buttons">
        <a href = "kalraAresume.pdf"> PDF Version </a>
        <a href = "reference.pdf"> Reference Letter </a>
      </div>
 -->
      <div class="container header">
        <div class="main my-name">
          <h1><a href="http://thume.ca/">Tristan Hume</a></h1>
          <h5>Student Developer - University of Waterloo Computer Science</h5>
        </div>
        <div class="sidebar links">
          <i class="fa fa-envelope"></i><a href="mailto:tristan@thume.ca">tristan@thume.ca</a><br>
          <i class="fa fa-globe"></i><a href="http://thume.ca">thume.ca</a><br>
          <i class="fa fa-github-alt"></i><a href="https://github.com/trishume/">github.com/trishume</a><br>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>
    <script>
      function showMore(level, index) {
        document.getElementById("desc-"+level+"-"+index).classList.add("hidden");
        document.getElementById("desc-"+(level+1)+"-"+index).classList.remove("hidden");
      }
    </script>
  </body>
</html>
